header
  nav#menu.menu
    a.logo-container(href='#')
      img.logo(src='assets/img/logo-gsorion.png' alt='Monitor do mercado logo')
    ul.menu-ul
      li.menu-li
        a.menu-a(href='#') Home
      li.menu-li
        a.menu-a(href='#') serviços
      li.menu-li
        a.menu-a(href='#') Porque nos contratar
      li.menu-li
        a.menu-a(href='#') Quem somos
      li.menu-li
        a.menu-a(href='#') FAQ
    button.fale-conosco
      img(src="assets/img/icon-whatsapp.svg", alt="icone do whatsapp") 
      p Fale conosco
    button#toggle-icon.menu-toggle(aria-label='abrir menu' aria-controls="menu-noticias" aria-expanded="false")
      .bars
  