doctype html
html(lang="pt-br")
  head
    include partials/head.pug
    //- include pages/css-inline-pages/noticiasStyle.pug
  body
    include partials/header.pug
    main
      include pages/home.pug
    include partials/footer.pug
